@import "tailwindcss"; 

/* All larger defs are in here be aware some adjustments are still in the ui file 
paritcularly where only small numbers of utility classes were needed */
@layer components {
  
  /* #controls-box{
    all: unset;
    @apply  !flex !rounded-xl p-1 gap-1;
  }

  #controls-box * {
    all: unset; 
  } */

 #webdraw-controls-box{
    all: unset; 
 
    /*
      Re-apply critical layout properties with !important if they were reset
      and you need them to be specifically controlled by your extension.
      `display` is a common one that `all: unset` will reset to `initial` (inline).
      `box-sizing` is also good to explicitly control.
    */
    

    @apply !z-100000000000000 !fixed !top-[1vh] !left-[1vw] !flex !rounded-xl p-1 gap-1; 
  }



  /* Reset all children within #controls-box */
  #webdraw-controls-box #webdraw-full  * {
    all: unset; 
  }
  /* --- End of reset styles --- */

  #webdraw-full {
    @apply !h-[50vh] !w-[33vw] !p-1 !bg-gray-500 !flex !flex-col !gap-2 !w-full !rounded-xl;
  }
  #webdraw-controls-box #webdraw-full > #header{
    @apply rounded-xl h-1/6 flex flex-row bg-red-400 items-center;
 }
   #webdraw-controls-box #webdraw-full #header > h1{
    @apply w-full text-2xl text-center text-white font-bold w-2/3;
  }
  #webdraw-controls-box #webdraw-full .top-button{
    @apply align-middle w-1/5 text-center align-middle w-full h-2/5 bg-gray-700 rounded-lg;
  }

   #webdraw-controls-box #webdraw-full .webdraw-input-box{
    @apply !my-1 !h-2/3 !w-7/8 !p-2.5 !text-center !bg-gray-500 !border !border-gray-100 !text-white !text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-200 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
  }

   #webdraw-controls-box #webdraw-full #webdraw-full #webdraw-layers{
    @apply w-full h-2/3 m-auto border border-white rounded-lg flex flex-col items-center;
  }

  #webdraw-controls-box #webdraw-full .ext-button {
    @apply !w-full !bg-red-300 hover:bg-red-800 !text-white !font-bold !py-2 px-4 rounded align-middle;
  }

   #webdraw-controls-box #webdraw-full .hidden{
    @apply !invisible !w-15;
  }

  #webdraw-full #webdraw-minified-image{
    @apply w-15 rounded-3xl border-solid !border-red-600 !border-5;
  }
}

